<div id="middle">
	<div class="post">
		<div class="postheader"><h1>List Survey</h1></div>
		<div class="postcontent">
			<form action="" method="post" onsubmit="return checkforempty(this.searchtext)">
				<table>
				<tr>
					<th><input name="searchtext" type="text" style="width:300px" /></th>
					<th><input name="searchbutton" type="submit" value="search" /></th>
				</tr>
				</table>
			</form>
			<table>
					<tr>
						<th><p>TITLE</p></th>
						<th><p>DESCRIPTION</p></th>
						<th><p>CREATED BY</p></th>
					</tr>
					<% @survey.each do |s| %>
					<tr>
						<th><p><%=h s.title %></p></th>
						<th><p><%=h s.description %></p></th>
						<th><p><%=h User.find(:first, :conditions => ["id = ?", s.user_id]).username %></p></th>
					</tr>
					<% end %>
				</table>
		</div>
		<div class="postfooter"></div>
	</div>
</div>